.git
.github
.env
.env.*
!.env.example
node_modules
vendor
tests
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/recovery_backups_*
*.sql
*.sqlite
